{% extends 'base.html' %}

{% block title %}
Hard-Off Electronics | HOE
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
{% endblock %}

{% block content %}
<div class="link-menu">
    <div class="logo">
        <img id="logo-id" src="{{ url_for('static', filename='img/hoe.png') }}" alt="Hard-Off Electronics logo">
    </div>
    <a href="{{ url_for('agregar_donacion') }}" class="envio">Agregar Donación</a>
    <a href="{{ url_for('ver_dispositivos', page=0) }}" class="envio">Ver Dispositivos</a>
    <a href="{{ url_for('stats_dispositivos') }}" class="envio">Estadísticas Tipos de Dispositivos</a>
    <a href="{{ url_for('stats_contactos') }}" class="envio">Estadísticas Contactos por Comuna</a>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}