<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="Donar, Reciclaje, Électricos, Electrónicos">
    <meta name="description" content="Dona aquí los dispositivos eléctricos y electrónicos que no utilices.">
    <meta name="author" content="cstammp">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    {% block css %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %} 
    {% block javascript %}{% endblock %}
</body>
</html>