<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hard-Off Electronics | HOE</title>
    <meta name="keywords" content="Donar, Reciclaje, Électricos, Electrónicos">
    <meta name="description" content="Dona aquí los dispositivos eléctricos y electrónicos que no utilices.">
    <meta name="author" content="cstammp">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../style/index.css">
</head>
<body>
    <div class="link-menu">
        <div class="logo">
            <img id="logo-id" src="../img/hoe.png" alt="Hard-Off Electronics logo">
        </div>
        <a href="agregar-donacion.html" class="envio">Agregar Donación</a>
        <a href="ver-dispositivos.html" class="envio">Ver Dispositivos</a>
    </div>
</body>
</html>